
<h1>Welcome to arxiv scraper</h1>

<p> Archive scraper is a simple website that helps you extract data and figures from papers on the arxiv. We believe data should be free, not caught up in some stuffy old pdf. So point us at the arxiv number of a paper your interested in and let us do the rest. Happy scrapping </p>

<form action="/scrape/">
	<p> archive no</p>
	<input type='text' name='paper_id'></input>
	<input type='submit' />
</form>

